# Code editor / IDE specific
.vscode

# Build output
build/

# Libraries/Dependencies
include/limine
#!include/limine/limine.h

.DS_Store
**/.DS_Store

tools/old
tools/png
tools/bmp

dsk/hdd0

src/kernel/console/functions/edit.c

#shared/libc/math/math.c
#shared/libc/math/pi.h
shared/libc/math/complete_pi.txt

shared/ui/assets/logo_.txt
shared/ui/assets/logo.txt
#shared/ui/assets/logo.bin

#shared/libc/std/


tools/converter.py

.zig-cache/

#dsk/disk.img

test

etc.txt
