# Code editor / IDE specific
.vscode

# Build output
build/

# Libraries/Dependencies
include/limine

.DS_Store
**/.DS_Store

src/kernel/pci/
src/kernel/pci/pci.h

shared/libc/math/math.h
#shared/libc/math/math.c
#shared/libc/math/pi.h
shared/libc/math/complete_pi.txt

shared/ui/assets/logo_.txt

shared/libc/std/


.zig-cache/

disk.img

test

etc.txt
